<?xml version="1.0"?>
<robot name="silverhand" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="$(find silverhand_arm_model)/urdf/silverhand_macro.urdf.xacro"/>
  <xacro:include filename="$(find silverhand_arm_control)/ros2_control/silverhand.ros2_control.xacro"/>
  <xacro:include filename="$(find silverhand_hand_model)/urdf/silverhand_hand_macro.urdf.xacro"/>
  <xacro:include filename="$(find silverhand_hand_control)/ros2_control/silverhand_hand.ros2_control.xacro"/>

  <xacro:arg name="use_mock_hardware" default="true"/>
  <xacro:arg name="arm_can_iface" default="can0"/>
  <xacro:arg name="arm_node_id" default="100"/>
  <xacro:arg name="arm_queue_len" default="1000"/>
  <xacro:arg name="hand_can_iface" default="can0"/>
  <xacro:arg name="hand_node_id" default="120"/>
  <xacro:arg name="hand_queue_len" default="1000"/>

  <xacro:silverhand_arm prefix=""/>
  <xacro:silverhand_hand
    prefix="hand_"
    parent="link_6"
    xyz="0 0 0"
    rpy="0 0 0"/>

  <xacro:silverhand_ros2_control
    name="arm_system"
    initial_positions_file="$(find silverhand_arm_control)/config/initial_positions.yaml"
    use_mock_hardware="$(arg use_mock_hardware)"
    can_iface="$(arg arm_can_iface)"
    node_id="$(arg arm_node_id)"
    queue_len="$(arg arm_queue_len)"/>

  <xacro:silverhand_hand_ros2_control
    name="hand_system"
    initial_positions_file="$(find silverhand_hand_control)/config/initial_positions.yaml"
    prefix="hand_"
    use_mock_hardware="$(arg use_mock_hardware)"
    can_iface="$(arg hand_can_iface)"
    node_id="$(arg hand_node_id)"
    queue_len="$(arg hand_queue_len)"/>
</robot>
